h1 {
  padding: 6px 0 0px 10px;
  font-weight: bold;
  font-size: large;
  color: #06572EFF;
}

/*#login-button {*/
/*  position: fixed;*/
/*  !* Default styles for desktop *!*/
/*  top: 0;*/
/*  right: 0;*/
/*  z-index: 10; !* Ensure it's on top of other content *!*/
/*}*/

/* Mobile Styles */
@media (max-width: 450px) {
  #auth-container {
    top: auto;
    bottom: 0;
    width: 200px;
    position: relative;
    border-radius: 1px;
    /* Other mobile specific styles */
  }
  div.login-container, div.logout-container {
    color: #696969FF;
    position: relative;
    border: 1px solid #696969FF;
    border-radius: 10px;
    text-align: center;
    /*width: 96%*/
  }
  div.login-container {
    background-color: whitesmoke;
    margin-bottom: 10px;
  }
  div.logout-container {
    background-color: #206339;
    bottom: 5px;
  }
  h1 {
    text-align: left;
    width: 100%;
    padding: 0 0 0 10px;
  }
}

/*desktop*/
@media (min-width: 450px) {
  #auth-container {
    top: 0;
    right: 0;
    width: 10%;
    position: fixed;
    background-color: black;
    /*position: inherit;*/
    /*display: flex;*/
    /* Other mobile specific styles */
  }
  div.login-container, div.logout-container {
    right: 20px;
    left: 90%;
    /*color: #696969FF;*/
    position: inherit;
    border: 1px solid #696969FF;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    bottom: 500px;
    display: inline-flex;
  }

  div.login-container {
    background-color: whitesmoke;
  }
  div.logout-container {
    background-color: #206339;
    margin-left: 5px;

  }
}





mat-toolbar{
  background-color: whitesmoke;
  color: whitesmoke;
  position:fixed;
  top:0;
  z-index: 2;
  height: 120px;
  border-bottom: 2px solid #206339;
}

mat-sidenav-container {
  height:100%;
}

/*// Move the content down so that it won't be hidden by the toolbar*/
mat-sidenav {
  padding-top: 64px;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding:0.75rem;
  }
}

/*// Move the content down so that it won't be hidden by the toolbar*/
mat-sidenav-content{
  padding-top: 3.5rem;
  background-color: whitesmoke;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}

em {
  font-family: "Monotype Corsiva", sans-serif;
  font-size: 40px;
}

strong {
  color: slategray;
}
span.mat-mdc-button-touch-target {
  height: 500px;
  width: 200px;
}

img {
  width: 200px;
  height: 200px;
}

.mat-mdc-icon-button {
  color: whitesmoke;
}

.entry:hover {
  border-radius: 0;
  color: #06572e;
}

.mat-drawer {
  width: auto;
  padding-top: 120px;
}

.main-container {
  padding-top: 64px;
  position: relative;
}
