

h1 {
  padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
  background-color: #206339;
  color: whitesmoke;
  position:fixed;
  top:0;
  z-index: 2;
}

mat-sidenav-container {
  height:100%;
}

/*// Move the content down so that it won't be hidden by the toolbar*/
mat-sidenav {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding:0.75rem;
  }
}

/*// Move the content down so that it won't be hidden by the toolbar*/
mat-sidenav-content{
  padding-top: 3.5rem;
  background-color: whitesmoke;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}

.mat-mdc-icon-button {
  color: whitesmoke;
}

.entry:hover {
  border-radius: 0; !important;
  color: #5d9dc0;
}

.mat-drawer {
  width: auto;
}

.main-container {
  margin: 20px 20px auto;
  position: relative;
}
